html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #ebebeb;
  font-family: Arial, Helvetica, sans-serif;
  color: #343331;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-box {
  width: 70vw;
  height: 70vh;
  padding: 50px;
  background-color: #efefef;
  /* border: 1px solid #343331; */
  box-shadow: 1px 1px 5px rgb(52, 51, 49, 0.2);
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.marg-top-15 {
  margin-top: 15px;
}

label {
  font-weight: bold;
}

input {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #343331;
  border-radius: 18px;
}

input:disabled {
  color: #343331;
  background-color: #e5e5e5;
}

select {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #343331;
  border-radius: 18px;
}

.btn-container {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container button {
  padding: 5px 10px;
  background-color: #f2f2f2;
  border: 1px solid #343331;
  border-radius: 15px;
  cursor: pointer;
}

#convert-btn {
  /* margin-top: 15px; */
}

#switch-btn {
  margin-top: 15px;
}

#result-box {
  width: 100%;
  height: 50%;
  /* background-color: antiquewhite; */
}

h3 {
  margin: 0;
  color: #343331;
}
